
/* semantic color variables for this project */
:root {
  --dark: #3E3D56;
  --darkGreen : #87986A;
  --dg2 : #034F32;
  --lightGreen : #B8C8AC;
  --brightGreen : #D0E1AC;
  --brown : #B8B4B0;
  --backgroundColor: #F7FAFC;
  --quizWrong : #FF8A80;
  --quizPass: #69F0AE;
  --quizBg: rgba(0, 240, 130,0.2);
  --quizBtn: #2E7D32;
}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-weight: normal;
}

html {
  height: 100%;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

body {
  height: 100%;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

 
}

.stopScroll {
  overflow:hidden;
}



h1 {
  color:white;
  /* font-size:3.6rem; */
  font-size : clamp(1.2rem, 1vw + 2rem, 4.25rem);
  font-weight: 800;
  line-height: 5rem;
  white-space: nowrap;
}

h2 {
  color:white;
  font-size:2.2rem;
  font-size : clamp(1.4rem, 1vw + 1rem, 3rem);
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
}

h3 {
  color:white;
  font-size:1.5rem;
  font-weight: 400;
}

h4 {
  color: var(--dark);
  font-size:1.2rem;
  font-weight: 300;
}


.dark {
  color: #3E3D56;
}



ul {
  list-style: none;
}

input {
  padding: 10px;
  border-radius: 6px;
  font-size:16px;
  border-color: lightblue;

}

.btn {

    border-radius: 8px;
    font-size: 18px;
    background-color: var(--dark);
    border: none;
    outline:none;
   width: 200px;
   height: 40px;
   font-weight: 600;
   word-wrap: none;
    cursor: pointer;
    color: white;
    overflow:hidden;
      white-space:nowrap;
      /* margin-left:auto; */
      /* margin: auto; */
      box-shadow: 0 0 3px 5px rgb(255 255 255 / 20%);
      transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);

}

.spinner-enter-active,
.spinner-leave-active {
    transition: transform .3s, opacity .3s;
}

.spinner-enter,
.spinner-leave-to {
    /* transform-origin: center; */
    transform: scale(1.8);
    opacity: 0;
}

.btnText {
  font-size: 20px;
 display:inline-block;
  transition: all 150ms ;
}