
/* semantic color variables for this project */
:root {
  --dark: #3E3D56;
  --darkGreen : #87986A;
  --dg2 : #034F32;
  --lightGreen : #B8C8AC;
  --brightGreen : #D0E1AC;
  --brown : #B8B4B0;
  --backgroundColor: #F7FAFC;
  --quizWrong : #FF8A80;
  --quizPass: #69F0AE;
  --quizBg: rgba(0, 240, 130,0.2);
  --quizBtn: #2E7D32;
}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-weight: normal;
}

html {
  height: 100%;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
    scroll-behavior: smooth;
}

body {
  height: 100%;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

 
}

.stopScroll {
  overflow:hidden;
}



h1 {
  color:white;
  /* font-size:3.6rem; */
  font-size : clamp(1.2rem, 1vw + 2rem, 4.25rem);
  font-weight: 800;
  line-height: 5rem;
  white-space: nowrap;
}

h2 {
  color:white;
  font-size:2.2rem;
  font-size : clamp(1.4rem, 1vw + 1.2rem, 3rem);
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
}

h3 {
  color:white;
  font-size:1.5rem;
  font-weight: 400;
}

h4 {
  color: var(--dark);
  font-size:1.2rem;
  font-weight: 300;
}

a:hover {
  text-decoration: none;
}
.dark {
  color: #3E3D56;
}



ul {
  list-style: none;
}

input {
  padding: 10px;
  border-radius: 6px;
  font-size:16px;
  border-color: lightblue;

}

.btn {

    border-radius: 8px;
    font-size: 18px;
    background-color: var(--dark);
    border: none;
    outline:none;
   width: 200px;
   height: 40px;
   font-weight: 600;
   word-wrap: none;
    cursor: pointer;
    color: white;
    overflow:hidden;
      white-space:nowrap;
      /* margin-left:auto; */
      /* margin: auto; */
      box-shadow: 0 0 3px 5px rgb(255 255 255 / 20%);
      transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);

}

.spinner-enter-active,
.spinner-leave-active {
    transition: transform .3s, opacity .3s;
}

.spinner-enter,
.spinner-leave-to {
    /* transform-origin: center; */
    transform: scale(1.8);
    opacity: 0;
}

.btnText {
  font-size: 20px;
 display:inline-block;
  transition: all 150ms ;
}

.mark {
  margin: 20px 0;
  display: inline-block;
  color: white;
  background: var(--dg2);
  padding: 8px 17px;
  border-radius: 4px;
}

.rotate {
  /* transform: rotate(-1deg); */
  background-color : var(--lightGreen);
  color: var(--dg2);

}


.underline {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 6px;
  background-position: 50% 125%;
  cursor: pointer;
  transition: background-size 120ms ease-in-out;
}

.new {
  /* width: 55px; */
  /* height: 35px; */
  border: 1px solid var(--myToastBackColor);
  background-color: var(--wesYellow);
  padding: 0.3rem 0.6rem;
  font-size: 0.8rem;
  font-weight: 600;
  transform: rotate(-2deg);
  border-radius: 4px;
  display: inline-block;
  color: var(--mondayBlue);
}

.link {
  /* color: var(--myLinkBlue); */
  border-bottom: 1px solid var(--myDarkIconColor);
  box-shadow: 0 0.4px var(--myLightIconColor);
  cursor: pointer;
  padding-bottom: 1px;
  width: fit-content;
  transition: box-shadow .20s;
}
.link:hover {
  /* border-bottom: 3px solid var(--myLinkBlue); */
  box-shadow: 0px 2px var(--myLightIconColor);
}

